/* Estilo Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ysabeau Infant', sans-serif;
  }
  
  .secao-banner {
    background-image: url('./assets/fundo.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;  
    display: flex;
    align-items: center;
    justify-content: center;
  } 
  
  
  .container-info {
    width: 768px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
  .imgLogo img{
  width: 200px;
  box-shadow: #000000;
  }
  
  
  /* Estilo dos links */
  .arvore-links {
    max-width: 768px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }
  
  .arvore-links a {
    width: 100%;
    padding: 10px;
  
    display: flex;
    align-items: center;
    gap: 5px;
  
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
  
    border-radius: 10px;
    background-color: #02000070;
    color: #fff;
  }
  
  .arvore-links a:hover {
    background-color: #ffffffb0;
    color: #000;
  }
  
  .arvore-links a p {
    width: 90%;
  }
  
  .arvore-links a img {
    width: 30px;
  }